
  <%- include('partials/navbar.ejs') %>

<div class="bg-all flex flex-col justify-between page-load">
    <!-- This will contain a boat load of EJS -->
    <div class="wrapper pt-2.5">

      <button class="btn btn-active btn-primary add-goal">Add Project</button>
        <ul class=" project-spacing">
            <% goals.forEach( goal => { %> 
              <% if (goal.isComplete === false) { %>
            <li class="project-boxes collapse" >
              <input type="checkbox" class="peer" /> 
              <div class=" project-container collapse-title">
                <div class="project-tab"></div>
                  <div class="project-info">
                    <section class="project-header">
                      <h2 class="goal-title"><%= goal.goalTitle %></h2>
                        <!-- <section class="goal-options">
                          <a href="tasks/<%= goal._id%>">
                            <span class="material-icons">start</span>
                          </a>
                        </section> -->
                    </section>
                    <section class="project-stats">
                      <section class="project-count">
                        <span><%= goal.taskCount.toString() %> / <%= goal.taskCount.toString() %> </span>
                          <span class="material-icons">task</span>
                            <span class="material-icons">auto_stories</span>
                      </section>
                        <section>
                          <span class="material-icons peer-checked:bg-secondary peer-checked:text-secondary-content">
                            expand_more
                            </span>
                        </section>
                    </section>
                </div>
              </div>
              <div class="collapse-content">
                <section class="project-description">
                    <p><%= goal.goalDescription %></p>
                </section>
                <section>
                  <ul class="project-task-list">
                <% tasks.forEach( task => { %>
                    <% if (task.goalId === goal.id) { %>
                      <li>
                        <section class="project-task">
                          <h3><%= task.taskTitle %></h3>
                            <section class="goal-task-options">
                                <span class="material-icons">start</span>
                            </section>
                        </section>
                      </li>
                    <% } %>
                <% }) %>
                  </ul>
                </section>
                <div class="flex flex-col gap-2 mt-2">
                  <section class="flex justify-center">
                    <a href="tasks/<%= goal._id%>">
                      <button class="btn btn-active btn-primary add-goal w-32">Begin</button>
                    </a>
                  </section>


                  <section class="goal-journal">
                      <a href="journal/<%= goal._id%>">
                      <button class="btn btn-active btn-primary add-goal w-32">Journal</button>
                      </a>
                  </section>
                  <div class="flex justify-end gap-4 pt-4">
              <!-- Delete Project Dialog -->
                    <dialog id="deleteProject">
                      <p>This will also delete all tasks and journals for this Project. Are you sure?</p>
                      <div class="flex justify-between">
                        <form action="/goals/deleteProject/<%= goal.id %>?_method=DELETE" method="POST">
                          <button class="btn btn-active btn-primary" type="submit">Yes</button>
                        </form>
                        <button class="btn btn-active btn-primary close-delete">No</button>
                      </div>
                    </dialog>
                    <button class="task-buttons dlt dlt-project">
                      <i class="material-icons">clear</i>
                    </button>
                    <!-- Complete Project Dialog -->
                    <dialog id="completeProject">
                      <p>Congratulations!</p>
                      <div class="flex justify-between w-60">
                        <form action="/goals/completeProject/<%= goal.id %>?_method=PUT" method="POST">
                          <button class="btn btn-active btn-primary" type="submit">Confirm!</button>
                        </form>
                        <button class="btn btn-active btn-primary close-complete" type="submit">Not yet!</button>
                      </div>
                    </dialog>
                    <button class="task-buttons complete-project cmplt">
                      <i class="material-icons">done</i>
                    </button>
                  </div>
                </div>
              </div>
              
              

            </li>
            <% } %>
            <% }) %>
          </ul>
         
       

     


        <dialog id="add_goal">
            <div class="row flex flex-col">
                <form class="col s12 items-center" action="/goals/createGoal" method="POST">
                  <div class="row">
                    <div class="input-field col s6">
                      <input placeholder="Title" id="goal_title" type="text" class="input input-bordered w-full max-w-xs bg-all" name="goalTitle" required>
                    </div>
                    
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <textarea id="goal_description" placeholder="Description" cols="25" rows="10" class="textarea textarea-bordered bg-all" name="goalDescription"></textarea>
                    </div>
                  </div>
                  
                  <div class="row">
                    <input type="submit" class="btn waves-effect waves-light">
                  </div>
                </form>
              </div>
        </dialog>





        <script src="../js/goals.js"></script>

    </div>
</div>
  <%- include('partials/footer.ejs') %>

    
       



