
    <%- include('partials/navbar.ejs') %>

    <!-- This will contain a boat load of EJS -->
    <div class="project-wrapper">
    <section class="add-goal"><i class="medium material-icons">add_circle</i></section>
  
        <ul class="collapsible expandable project-spacing">
            <% goals.forEach( goal => { %> 
            <li class="project-boxes">
              <div class=" project-container">
                <div class="project-tab"></div>
                  <div class="project-info">
                    <section class="project-header">
                      <h2 class="goal-title"><%= goal.goalTitle %></h2>
                        <section class="goal-options">
                          <a href="tasks/<%= goal._id%>">
                            <span class="material-icons">start</span>
                          </a>
                        </section>
                    </section>
                    <section class="project-stats">
                      <section class="project-count">
                        <span><%= goal.taskCount.toString() %> / <%= goal.taskCount.toString() %> </span>
                          <span class="material-icons">task</span>
                            <span class="material-icons">auto_stories</span>
                      </section>
                        <section>
                          <i class="material-icons collapsible-header test">keyboard_double_arrow_down</i>
                        </section>
                    </section>
                </div>
              </div>
              <div class="collapsible-body">
                <section class="project-description">
                    <p><%= goal.goalDescription %></p>
                </section>
                <section>
                  <ul class="project-task-list">
                <% tasks.forEach( task => { %>
                    <% if (task.goalId === goal.id) { %>
                      <li>
                    <section class="project-task">
                        <h3><%= task.taskTitle %></h3>
                        <section class="goal-task-options">
                            <span class="material-icons">start</span>
                        </section>
                    </section>
                      </li>
                    <% } %>
                <% }) %>
                  </ul>
                </section>
                <section class="goal-journal">
                    <h5>Journal</h5>
                    <p class="goal-journal">Most recent note made in journal for this goal</p>
                </section>
              </div>
            </li>
            <% }) %>
         
          </ul>
         



        <dialog id="add_goal">
            <div class="row">
                <form class="col s12" action="/goals/createGoal" method="POST">
                  <div class="row">
                    <div class="input-field col s6">
                      <input placeholder="Title" id="goal_title" type="text" class="validate" name="goalTitle" required>
                      <label for="goal_title">Title</label>
                    </div>
                    
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <textarea id="goal_description" placeholder="Description" cols="30" rows="10" class="materialize-textarea" name="goalDescription"></textarea>
                      <label for="password">Description</label>
                    </div>
                  </div>
                  
                  <div class="row">
                    <input type="submit" class="btn waves-effect waves-light">
                        <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
                  </div>
                </form>
              </div>
        </dialog>
    </div>

       


  <script src="../js/goals.js"></script>

    <%- include('partials/footer.ejs') %>










     
            
                <!-- <div class="goal-container">
                    <section class="goal-header">
                        <h2 class="goal-title"></h2>
                        <section class="goal-options"><i class="small material-icons">more_horiz</i></section>
                    </section>
                    <section class="goal-task-list">
                        <section class="goal-task">
                            <h3>Task Title EJS</h3>
                            <section class="goal-task-options"><i class="tiny material-icons">more_horiz</i></section>
                        </section>
                        <section class="goal-task">
                            <h3>Task Title EJS</h3>
                            <section class="goal-task-options"><i class="tiny material-icons">more_horiz</i></section>
                        </section>
                    
                    </section>
                    <section class="goal-journal">
                        <h5>Journal</h5>
                        <p class="goal-journal">Most recent note made in journal for this goal</p>
                    </section>
                </div>
        -->