
<div class=" min-h-screen bg-accent-content flex flex-col justify-between">
  <%- include('partials/navbar.ejs') %>

    <!-- This will contain a boat load of EJS -->
    <div class="bg-accent-content wrapper">

      <button class="btn btn-active btn-primary add-goal">Add Project</button>
        <ul class=" project-spacing">
            <% goals.forEach( goal => { %> 
            <li class="project-boxes collapse" >
              <input type="checkbox" class="peer" /> 
              <div class=" project-container collapse-title">
                <div class="project-tab"></div>
                  <div class="project-info">
                    <section class="project-header">
                      <h2 class="goal-title"><%= goal.goalTitle %></h2>
                        <!-- <section class="goal-options">
                          <a href="tasks/<%= goal._id%>">
                            <span class="material-icons">start</span>
                          </a>
                        </section> -->
                    </section>
                    <section class="project-stats">
                      <section class="project-count">
                        <span><%= goal.taskCount.toString() %> / <%= goal.taskCount.toString() %> </span>
                          <span class="material-icons">task</span>
                            <span class="material-icons">auto_stories</span>
                      </section>
                        <section>
                          <span class="material-icons peer-checked:bg-secondary peer-checked:text-secondary-content">
                            expand_more
                            </span>
                        </section>
                    </section>
                </div>
              </div>
              <div class="collapse-content peer-checked:bg-secondary peer-checked:text-secondary-content">
                <section class="project-description">
                    <p><%= goal.goalDescription %></p>
                </section>
                <section>
                  <ul class="project-task-list">
                <% tasks.forEach( task => { %>
                    <% if (task.goalId === goal.id) { %>
                      <li>
                    <section class="project-task">
                        <h3><%= task.taskTitle %></h3>
                        <section class="goal-task-options">
                            <span class="material-icons">start</span>
                        </section>
                    </section>
                      </li>
                    <% } %>
                <% }) %>
                  </ul>
                </section>
                <a href="tasks/<%= goal._id%>">
                <button class="btn btn-active btn-primary add-goal">Begin</button>
                </a>


                <section class="goal-journal">
                    <h5>Journal</h5>
                    <a href="journal/<%= goal._id%>">
                    <button class="btn btn-active btn-primary add-goal">Add Journal</button>
                    </a>
                </section>
              </div>
            </li>
            <% }) %>
          </ul>
         



        <dialog id="add_goal">
            <div class="row">
                <form class="col s12" action="/goals/createGoal" method="POST">
                  <div class="row">
                    <div class="input-field col s6">
                      <input placeholder="Title" id="goal_title" type="text" class="validate" name="goalTitle" required>
                      <label for="goal_title">Title</label>
                    </div>
                    
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <textarea id="goal_description" placeholder="Description" cols="30" rows="10" class="materialize-textarea" name="goalDescription"></textarea>
                      <label for="password">Description</label>
                    </div>
                  </div>
                  
                  <div class="row">
                    <input type="submit" class="btn waves-effect waves-light">
                        <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
                  </div>
                </form>
              </div>
        </dialog>
    </div>
    <%- include('partials/footer.ejs') %>

    </div>
    
       


  <script src="../js/goals.js"></script>

