<%- include('partials/navbar.ejs') %>
<div class="bg-white flex flex-col items-center page-load">
  <div class="max-w-4xl shadow-xl flex flex-col items-center shadows">
    <div class="card-body">
      <h2 class="card-title">
        <%= project.projectTitle %>
      </h2>
        <% if (journals.length === 0) { %>
          <p>There are no journals for your <%=project.projectTitle %> project.</p>
        <%} else { %>
          <p>See your progress, why not read this past entry?</p>
          <p><% let pic = journals[Math.floor(Math.random() * journals.length)] %></p>
          <p> 
            <%- pic.journalTitle %>
            <div class="text-red-200">
              <%- pic.journalText %> 
            </div> 
          </p>
        <div class="card-actions justify-end">
          <a href="/journalEntries/<%= pic._id %>">
          <div class="badge badge-outline">Continue</div>
          </a>
        </div>
        <% } %>
      </div>
      <button class="btn btn-active btn-primary add-journal my-8">
        Add Journal
      </button>
  </div>

  <div class="flex flex-col justify-center pb-2.5">
    <ul class="grid grid-cols-1  gap-2.5 justify-center pt-2.5">     
      <% journals.forEach(el => { %>   
         <li class="flex flex-col justify-center items-center">
            <div class="divider">
              <span><%= el.journalDate %></span>
            </div> 
              <a href="/journalEntries/<%= el._id %>">
                <button class="btn justify-between h-20 w-72 shadows">
                  <section class="flex flex-col w-full">
                    <p><%= el.journalTitle %></p>
                  </section>
                </button>
              </a>
          </li>
     <% }) %>
    </ul>
  </div>

  <dialog id="add_journal" class="bg-black border-4 border-gray-900">
    <div class="row flex flex-col">
        <form class="col s12 items-center" action="createJournal/<%= project.id %>" method="POST">
          <div class="row">
            <div class="input-field col s6">
              <input placeholder="Journal Title" id="project_title" type="text" class="input input-bordered w-full max-w-xs bg-gray-800 text-white" name="journalTitle" required>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12" id="editor-field">
              <textarea id="editor" placeholder="Journal Text" cols="25" rows="10" class="textarea textarea-bordered bg-all" name="journalText"></textarea>
            </div>
          </div>
          <div class="row">
            <input type="submit" class="btn bg-gray-800">
          </div>
        </form>
      </div>
</dialog>

</div>

<%- include('partials/footer.ejs') %>
<script src="../js/journal.js"></script>