
    <div class="min-h-screen bg-accent-content flex flex-col justify-between">
    <%- include('partials/navbar.ejs') %>

    



    <div class="wrapper">
      <h1><%= goal.goalTitle %></h1>
      <p><%= goal.goalDescription %></p>

      <span class="countdown font-mono text-2xl">
        <span style="--value:24;" class="minutes"></span>:
        <span style="--value:5;" class="seconds"></span>
      </span>

      <p>Tasks</p>
      <button class="btn btn-active btn-primary add-task">Add Task</button>


      <ul class="task-list">
      <% tasks.forEach (el => { %>
        <li class="collapse project-boxes" tabindex="0">
          <div class="task-box <%= el.isComplete === true ? 'complete' : '' %> ">
            <p> <%= el.taskTitle %> </p>
            <section class="task-options">
                <form action="deleteTask/<%= el.id %>?_method=DELETE" method="POST" class="form-margin">
                  <button class="task-buttons dlt" type="submit"><i class="material-icons">clear</i></button>
                </form>
                <form action="completeTask/<%= el.id %>?_method=PUT" method="POST" class="form-margin">
                  <button class="task-buttons" type="submit"><i class="material-icons">done</i></button>
                </form>
                <i class="material-icons">keyboard_double_arrow_down</i>
            </section>
          </div>
          <div class="task-body collapse-content">
            <section>
                <p><%= el.taskDescription %></p>
            </section>
          </div>
        </li>
      <% }) %>
      </ul>




      <dialog id="add_task">  
      <div class="row">
          <form class="col s12" action="createTask/<%= goal.id %>" method="POST">
            <div class="row">
              <div class="input-field col s6">
                <input placeholder="Title" id="task_title" type="text" class="validate" name="taskTitle" required>
                <label for="goal_title">Title</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <textarea id="task_description" placeholder="Description" cols="30" rows="10" class="materialize-textarea" name="taskDescription"></textarea>
                <label for="password">Description</label>
              </div>
            </div>
            <div class="row">
              <input type="submit" class="btn waves-effect waves-light">
                  <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
            </div>
          </form>
        </div>
      </dialog>
    </div>
    <%- include('partials/footer.ejs') %>

  </div>
<script src="../js/tasks.js"></script>

<!-- A sample test for git rebase -->
<!-- A ssample test of rebase while working on a branch -->



