<%- include('partials/navbar.ejs') %>
<div class="bg-all flex flex-col justify-between page-load">
  <div class="flex flex-col items-center gap-5">
    <section class="flex flex-col items-center">
      <h1 class="m-0"><%= project.projectTitle %></h1>
    </section>
    <!-- Pomo Clock -->
    <div class="grid grid-flow-col gap-5 text-center auto-cols-max">  
      <div class="flex flex-col p-2 bg-neutral rounded-box text-neutral-content">
        <span class="countdown font-mono text-5xl">
          <span style="--value:00" class="minutes"></span>
        </span>
        min
      </div> 
      <div class="flex flex-col p-2 bg-neutral rounded-box text-neutral-content">
        <span class="countdown font-mono text-5xl">
          <span style="--value:00" class="seconds sec"></span>
        </span>
        sec
      </div>
    </div>


      <!-- <span class="countdown font-mono text-2xl">
        <span style="--value:25;" class="minutes"></span>:
        <span style="--value:0;" class="seconds"></span>
      </span> -->
      <section id="setTime">
        <button class="btn btn-active btn-primary" id="t15">15</button>
        <button class="btn btn-active btn-primary" id="t25">25</button>
        <button class="btn btn-active btn-primary" id="t45">45</button>
        <button class="btn btn-active btn-primary" id="t60">60</button>
      </section>
    <!-- Clock Buttons -->
    <section>
      <button class="btn btn-active btn-primary" id="start">Start</button>
      <button class="btn btn-active btn-primary" id="stop">Stop</button>
    </section>
    <!-- Add Task -->
    <button class="btn btn-active btn-primary add-task">Add Task</button>
    <p>Your Tasks</p>
    <!-- Task List -->
    <ul class="flex flex-col gap-2.5">
    <% tasks.forEach (el => { %>
      <li class="collapse shadows w-72" tabindex="0">
        <div class="flex items-center justify-between p-2.5 shadows <%= el.isComplete === true ? 'complete' : '' %> ">
          <p> <%- el.taskTitle %> </p>
          <section class="flex gap-2.5">
              <form action="deleteTask/<%= el.id %>?_method=DELETE" method="POST">
                <button class="dlt" type="submit"><i class="material-icons">clear</i></button>
              </form>
              <form action="completeTask/<%= el.id %>?_method=PUT" method="POST">
                <button class="cmplt" type="submit"><i class="material-icons">done</i></button>
              </form>
              <i class="material-icons">keyboard_double_arrow_down</i>
          </section>
        </div>
        <div class="collapse-content">
          <section>
              <p><%- el.taskDescription %></p>
          </section>
        </div>
      </li>
    <% }) %>
    </ul>
    <!-- Add Task Modal -->
    <dialog id="add_task">  
    <div class="row">
        <form class="col s12 items-center" action="createTask/<%= project.id %>" method="POST">
          <div class="row">
            <div class="input-field col s6">
              <input placeholder="Title" id="task_title" type="text" class="input input-bordered w-full max-w-xs bg-all" name="taskTitle" required>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12" id="editor-field">
              <textarea id="editor" placeholder="Description" cols="30" rows="10" class="textarea textarea-bordered bg-all" name="taskDescription"></textarea>
            </div>
          </div>
          <div class="row">
            <input type="submit" class="btn">
          </div>
        </form>
      </div>
    </dialog>
  </div>
</div>
<script src="../js/tasks.js"></script>
<%- include('partials/footer.ejs') %>